header {
  height: 70px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(16, 56, 56);
}
a {
  cursor: pointer;
  text-decoration: none;
  color: blanchedalmond;
  margin: 20px;
}
.header {
  display: inline-flex;
  list-style: none;
}
.mainPagePhoto {
  height: 450px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
}
h1 {
  text-align: center;
  color: blue;
  font-size: 80px;
  margin: 0;
}
span {
  color: yellow;
}
img {
  margin: 15px;
  margin-top: 25px;
  height: 500px;
  width: 729px;
}
